@import "../../styles/constants";

.graph{
  background: no-repeat center url('../graph/globe.svg');
  background-color: $darkgray;
  background-size: contain;

  flex-grow: 1;
}

.graph > svg {
  position: absolute;
}

.line {
  stroke: $orange-lighter;
  stroke-width: 3px;
}