@import '../../styles/constants';

.progress{
  width: 100%;
  height: 5px;
  background-color: $gray;
  border-radius: 5px;
}

.progress-completed{
  height: 100%;
  background-color: $green-darker;
  border-radius: 5px
}